@keyframes intro {
    0% {
        transform: perspective(200px) rotateX(20deg) translateY(800px);
    }
    60% {
        opacity: 0.5;
    }
    100% {
        transform: perspective(200px) rotateX(20deg) translateY(-1000px);
        opacity: 0;
    }
}
