:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffec00;
  text-decoration: none; /* Usar "none" en lugar de "inherit" para desactivar subrayado */
  transition: color 0.3s; /* Agregar transición suave para cambiar de color */
}

a:hover {
  color: #ffffff; /* Cambiar el color al mismo tono de fondo para iluminar */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Agregar sombra de texto para iluminar */
}

button {
  border-radius: 8px;
  border: 1px solid #ffec00;
  transition: box-shadow 0.3s; /* Agregar transición suave para el efecto de iluminación */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
